<form class="panel panel-default" name="addPetForm" novalidate>
        <div class="panel-heading">
            <h3 class="panel-title">Add a pet</h3>
        </div>
        <div class="panel-body">
           <div class="image-container">
            <img ng-src="{{pet.src}}">
          </div>

        <div class="panel panel-default">
          <div class="panel-heading">
             <h3 class="panel-title">Image url</h3>
          </div>
          <div class="panel-body">
            <input type="text" class="form-control" placeholder="input a url for the custom image" ng-model="pet.src">
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
             <h3 class="panel-title">Pet`s name</h3>
          </div>
          <div class="panel-body">
            <input name="petName" type="text" class="form-control" ng-model="pet.name" required>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
             <h3 class="panel-title">Pets`s feeding period</h3>
          </div>
          <div class="panel-body">
            <input name="petWatering" type="number" class="form-control" ng-model="pet.feeding" ngPattern="/^\d+$/A" required min="0">
          </div>
        </div>

         <div class="panel panel-default">
          <div class="panel-heading">
             <h3 class="panel-title">Tags</h3>
          </div>

          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-btn" ng-click="addTag(currentTag)">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
              </span>
              <input class="form-control" ng-model="currentTag" placeholder="Add tags here">
            </div><!-- /input-group -->

            <ul class="list-group">
              <li ng-repeat="(index, tag) in pet.tags track by index" class="list-group-item list-group-item-info">
                <span class="badge" ng-click="removeTag(index)">
                  <span class="glyphicon glyphicon-trash"></span>
                </span>
                {{tag}}
              </li>

            </ul>
          </div>
        </div>

         <button class="btn btn-default" type="button" ng-click="addPet()" ng-disabled="addPetForm.$invalid">Done</button>
      </div>
    </form>
